<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  </meta>
  <title>Tabel Studenti</title>
<style>
h1 {
  text-align: center;
  border:2px solid DodgerBlue;
}
    table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

tr:nth-child(even){background-color:#ADD8E6}

th {
  background-color:#30D5C8;
  color: black;
}
</style>
</head>
<body style="background-color:#ADD8E6;">
<h1> Tabel Studenti </h1>
<table>

<tr>
  <th>ID</th>
  <th>Nume</th>
  <th>Prenume</th>
  <th>Data Nasterii</th>
  <th>Specializare</th>
  <th>An</th>
  <th>Grupa</th>
  <th>Actiuni</th>
</tr>



  @each(student in students )
  <tr>
    <td>{{student.id}}</td>
    <td>{{student.Nume}} </td>
    <td>{{student.Prenume}}</td>
    <td>{{student['Data Nasterii']}}</td>
    <td>{{student.Specializare}}</td>
    <td>{{student.An}} </td>
    <td>{{student.Grupa}}</td>
    <td> <a href="/Students/tabel/sterge?id={{student.id}}" >Sterge</a> </td>
     </tr>
  @endeach

</table>
</body>
</html>
